<div class="h1-head">
    <h1>Welcome to CSE Motors!</h1>
</div>

<div class="home-img">
    <img src="images/vehicles/delorean.jpg" alt="delorean">
</div >

<div class="own">
    <p>DMC Delorean<br>3 Cup holders<br>Superman doors <br> Fuzzy dicel</span></p>
    <button class="own-button">Own Today </button>
</div>

<div class="div-sect">
    <h2>Delorean Upgrade</h2><br>
<section>
    <img class="veh-logo" src="images/upgrades/flux-cap.png" alt="flux capacitor">
    <p>Flux Capacitor</p>
</section>

<section>
    <img class="veh-logo" src="images/upgrades/flame.jpg" alt="flame decals">
    <p>Flame decals</p>
</section>

<section>
    <img class="veh-logo" src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
    <p>Bumper Sticker</p>
</section>

<section>
    <img class="veh-logo" src="images/upgrades/hub-cap.jpg" alt="hub caps">
    <p>Hub caps</p>
</section>
</div>

<div class="review">
<section>
    <h2>"DMC Delorean Review" </h2>
    <p>"so fast its almost like traveling in time" (4/5)</p>
    <p>"coolest ride on the road" (5/5)</p>
    <p>"I'm feeling Mcfly" (5/5)</p>
    <p>"The most futuristic ride of our day"(4.5)</p>
    <p>"80's living and I love it" (5/5)</p>

</section>
</div>